{% extends "base.html" %}

{% block title %}Project Detail View{% endblock %}
{% block content %}
    <div>
        <h1>Project Name</h1>
        <p>Project Description</p>
        <h2>Tasks</h2>
        {% if project_tasks %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project_tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ task.assignee.username }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno:"yes,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>This project has no tasks</p>
        {% endif %}
        <a href="{% url 'projects:show_project' project.id %}">View project details</a>
    </div>
{% endblock %}
